.card{
    width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.183);
    border-radius: 20px;
    
}
.timeRwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}
.fa-solid{
    font-size: 1.2rem;
    cursor: pointer;
    &:hover{
        color: red;
    }
}

.icon{
    width: 100px;
    height: 100px;
    margin:0 auto;
    img{
        width: 100%;
        height: 100%;
    }
}